
P6-Backend-project/backend/node_modules/
P6-Backend-project/frontend/
P6-Backend-project/backend/.env

P7-Final-project-reddit-clone/backend/.env
P7-Final-project-reddit-clone/backend/node_modules/
