$purple: #9356DC;
$pink: #ff79da;
$mint: #99e2d0;
$purple-pale: #9256dc3d;
$gray-light: #f6f6f6;
$gray-dark: rgba(53,53,53,1);
$gray-medium: rgba(246,246,246,1);

$pink-light: #fc9ce0;
$purple-light: #a579db;

