.comment {
    background-color: white;
    overflow: hidden;
    border-radius: 1em 0em 0em 0em;
    margin-top: 4px;

    &__controller {
        background-color: white;        
        display: flex;
        justify-content: flex-start;
        cursor: pointer;   
        
        &__delete {
            color: #c51717 !important;
        }
        
        &__modify {
            text-decoration: none;
            & > a {
                text-decoration: none;
                color: #222233;
            }
        }

        &__element {
            padding: 0.75em 1em;
            transition: 0.3s;   
            color: #222233;
            
            &:hover {
                background-color: #8c8c8c;
            }
        }
    }

    &__content {
        padding: 1em;
    }

    &__credentials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;        
        padding-right: 1em;
        border-bottom: 1px solid lightgrey;

        &__userwrapper {
            display: flex;
            align-items: center;
            font-weight: bold;

            & > .avatar {
                width: 3em;
                height: 3em;                
                overflow: hidden;
                margin-right: 1em;

                & > img {
                    width: 100%;
                }
            }
        }
    }
}