.delete-prompt {
    background-color: white;
    width: 80%;
    margin-inline: auto;
    padding: 0.5em;
    border: 2px solid #1f1b24;
    border-radius: 1em;
    position: relative;
    margin-top: 10vw;
  
    &__close-btn {
      position: absolute;
      top: 1px;
      right: 10px;
      font-size: 1.5em;
      cursor: pointer;
    }
  
    & p {
      margin-inline: 2em;
    }
  
    &__wrapper {
      position: fixed;
      z-index: 9999;
      background-color: rgba(255,255,255,0.75);
      width: 100vw;
      height: 100vh;
      margin-inline: 0em;
      right: 0;
      left: 0;
      top: 0;
    }
  }