header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 4rem;
  background: #1f1b24;
  color: white;
  max-height: 5rem;
  top: 0;
  z-index: 99;
  position: -webkit-sticky;
  position: sticky;
}

header .logo {
  margin-top: -102px;
  margin-bottom: -110px;
  width: 350px;
  margin-left: -30px;
  margin-right: -15px;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

header .nav__buttons {
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .nav__buttons > a {
  text-decoration: none;
  padding-inline: 0.5em;
  padding-block: 1em;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(white), color-stop(#f5af19), to(#f12711));
  background-image: linear-gradient(90deg, white, white, #f5af19, #f12711);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-size: 250%;
  background-position: left;
}

header .nav__buttons > a svg {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .nav__buttons > a:hover {
  color: white;
  background-position: right;
}

header .nav__buttons > a:hover svg {
  color: #f5af19;
}

header .nav--alt {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

header .nav__credentials {
  position: relative;
  margin-right: 1em;
  margin-top: 5px;
}

header .nav__credentials__top {
  cursor: pointer;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  padding: 0.5em 0em 0.5em 1em;
  border-radius: 0.5em 0em 0em 0.5em;
}

header .nav__credentials__top .fa-angle-down {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .nav__credentials__top--open > .fa-angle-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .nav__credentials__menu {
  position: absolute;
  width: 115%;
  background-color: #1f1b24;
  top: 40px;
  z-index: 9999;
}

header .nav__credentials__menu__element {
  cursor: pointer;
  padding: 0.75em 0.5em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.5em;
}

header .nav__credentials__menu__element--logout {
  border-radius: 0.5em 0em;
}

header .nav__credentials__menu__element:hover {
  background-color: #8c8c8c;
}

@media screen and (max-width: 600px) {
  header > .logo {
    margin-top: 0.25em;
    width: 3em;
    margin-left: -0.25em;
    margin-bottom: 0px;
    margin-right: 0.25em;
  }
}

@media screen and (max-width: 450px) {
  header .nav__buttons {
    font-size: 1.75em;
  }
}

.posts-wrapper {
  text-decoration: none;
}

.posts-wrapper > a {
  text-decoration: none;
  color: #222233;
}

.post {
  width: 100%;
  text-decoration: none;
  margin-top: 1em;
  margin-bottom: 2em;
}

.post__wrapper {
  max-height: 28em;
  overflow: hidden;
  background-color: white;
}

.post__wrapper__image {
  width: 100%;
}

.post__title {
  font-size: 2em;
  padding: 0.5em 0.25em;
  background-color: white;
  margin-top: 4px;
  margin-bottom: 0px;
}

.post__preview {
  display: -webkit-box;
  background-color: white;
  padding: 0.5em 0.25em 0em;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.post__buttons {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.post__buttons__delete {
  color: #c51717 !important;
}

.post__buttons__modify {
  text-decoration: none;
}

.post__buttons__modify > a {
  text-decoration: none;
  color: #222233;
}

.post__buttons__element {
  padding: 0.75em 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #222233;
}

.post__buttons__element__active-like {
  color: #18ad18 !important;
}

.post__buttons__element__active-dislike {
  color: #ee420d !important;
}

.post__buttons__element:hover {
  background-color: #8c8c8c;
}

.post__credentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 1em 0px 0px 0px;
  padding-right: 1em;
}

.post__credentials__userwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.post__credentials__userwrapper > .avatar {
  width: 3em;
  height: 3em;
  border-radius: 1em 0px 0px 0px;
  overflow: hidden;
  margin-right: 1em;
}

.post__credentials__userwrapper > .avatar > img {
  width: 100%;
}

@media screen and (max-width: 375px) {
  .post__buttons__element {
    padding: 0.75em 0.5em;
  }
}

@media screen and (min-width: 960px) {
  .post__wrapper {
    max-height: 36em;
  }
}

.comment {
  background-color: white;
  overflow: hidden;
  border-radius: 1em 0em 0em 0em;
  margin-top: 4px;
}

.comment__controller {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.comment__controller__delete {
  color: #c51717 !important;
}

.comment__controller__modify {
  text-decoration: none;
}

.comment__controller__modify > a {
  text-decoration: none;
  color: #222233;
}

.comment__controller__element {
  padding: 0.75em 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #222233;
}

.comment__controller__element:hover {
  background-color: #8c8c8c;
}

.comment__content {
  padding: 1em;
}

.comment__credentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding-right: 1em;
  border-bottom: 1px solid lightgrey;
}

.comment__credentials__userwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.comment__credentials__userwrapper > .avatar {
  width: 3em;
  height: 3em;
  overflow: hidden;
  margin-right: 1em;
}

.comment__credentials__userwrapper > .avatar > img {
  width: 100%;
}

.back-button__content {
  background-color: white;
  margin-top: 1em;
  padding: 0.75em 0.25em;
  border-radius: 1em 0px 0px 0px;
  cursor: pointer;
}

.postsa {
  width: 100%;
  text-decoration: none;
  margin-top: 2px;
  padding-bottom: 1em;
  background-color: white;
}

.postsa__image-wrapper {
  background-color: white;
}

.postsa__image-wrapper > img {
  width: 100%;
}

.postsa__title {
  font-size: 2em;
  padding: 0.5em 0.25em;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.postsa__text {
  background-color: white;
  padding: 0.5em 0.25em 0.75em;
}

.postsa__controller {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.postsa__controller__delete {
  color: #c51717 !important;
}

.postsa__controller__modify {
  text-decoration: none;
}

.postsa__controller__modify > a {
  text-decoration: none;
  color: #222233;
}

.postsa__controller__element {
  padding: 0.75em 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #222233;
}

.postsa__controller__element__active-like {
  color: #18ad18 !important;
}

.postsa__controller__element__active-dislike {
  color: #ee420d !important;
}

.postsa__controller__element:hover {
  background-color: #8c8c8c;
}

.postsa__credentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding-right: 1em;
}

.postsa__credentials__userwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.postsa__credentials__userwrapper > .avatar {
  width: 3em;
  height: 3em;
  overflow: hidden;
  margin-right: 1em;
}

.postsa__credentials__userwrapper > .avatar > img {
  width: 100%;
}

@media screen and (max-width: 375px) {
  .post__buttons__element {
    padding: 0.75em 0.5em;
  }
}

@media screen and (min-width: 960px) {
  .post__wrapper {
    max-height: 36em;
  }
}

.postsubmit__title {
  background-color: white;
  margin: 0;
  padding: 1em;
  margin-top: 1em;
}

.form {
  background-color: white;
  padding-block: 0.75em;
}

.form__previewwrapper {
  width: 94%;
  margin: 1em;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.form__previewwrapper__icon {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 5em;
  color: #6fa3e6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.form__previewwrapper__previewImage {
  width: 100%;
}

.form__dropzone {
  width: 50%;
  min-height: 7em;
  text-align: center;
  border: 5px dashed #1f1b24;
  border-radius: 1em;
  cursor: pointer;
  color: #1f1b24;
}

.form__dropzone--active {
  border: 5px dashed #8be98e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form__dropzone--active:hover {
  border: 5px dashed #6fa3e6;
}

.form__dropzone--active:hover .form__previewwrapper__icon {
  opacity: 1;
}

.form__dropzone__icon {
  font-size: 4em;
  margin-block: 0.25em;
}

.form input {
  width: 50%;
  min-height: 2em;
  border-radius: 0.5em;
  border: 2px solid #1f1b24;
  text-indent: 5px;
}

.form input:focus {
  border: 2px solid #f12711;
}

.form > textarea {
  width: 50%;
  min-height: 5em;
  resize: vertical;
  border-radius: 0.5em;
  border: 2px solid #1f1b24;
  text-indent: 5px;
}

.form > textarea:focus {
  border: 2px solid #f12711;
}

.form__button {
  margin-block: 1em;
  background-color: #1f1b24;
  padding: 0.5em 1.5em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 1em 0em;
  cursor: pointer;
  color: white;
  border: 2px solid #1f1b24;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.form__button:hover {
  color: #f5af19;
}

.form__button--alt {
  background-color: white;
  color: #1f1b24;
}

.form__button--disabled {
  background-color: #a9a9aa;
  border: 2px solid #a9a9aa;
}

.form__button--disabled:hover {
  color: white;
}

@media screen and (max-width: 600px) {
  .form input, .form textarea {
    width: 70%;
  }
  .form__previewwrapper {
    width: 88%;
  }
  .form__dropzone {
    width: 70%;
  }
}

.misc-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.comment-form {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postsubmit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postsubmit-form > textarea {
  margin-block: 1em;
}

.password-form, .deleteme-form, .login-form, .registration-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.password-form input, .deleteme-form input, .login-form input, .registration-form input {
  margin-block: 0.5em;
}

.user-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-form > textarea {
  margin-block: 1em;
}

.form__user__wrapper {
  width: 50%;
  margin-block: 0.5em;
  font-size: 2em;
  font-weight: bold;
}

.form__user__wrapper input {
  font-size: 1em;
  padding-block: 0em;
}

@media screen and (max-width: 600px) {
  .form__user__wrapper {
    width: 100%;
    text-align: center;
    font-size: 1em;
  }
}

.nocomment {
  background-color: white;
  text-align: center;
  margin-top: 4px;
  height: 25vh;
  padding-block: 5em;
  padding-inline: 1em;
  color: #222233;
}

.nocomment__icon {
  font-size: 5em;
}

.nocomment__text {
  font-size: 1.25em;
  font-weight: bold;
  margin-block: 1em;
}

.delete-prompt {
  background-color: white;
  width: 80%;
  margin-inline: auto;
  padding: 0.5em;
  border: 2px solid #1f1b24;
  border-radius: 1em;
  position: relative;
  margin-top: 10vw;
}

.delete-prompt__close-btn {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.delete-prompt p {
  margin-inline: 2em;
}

.delete-prompt__wrapper {
  position: fixed;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100vw;
  height: 100vh;
  margin-inline: 0em;
  right: 0;
  left: 0;
  top: 0;
}

.loginprompt, .registerprompt {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5em;
  padding: 2.5em 1.5em;
}

.loginprompt__h1, .registerprompt__h1 {
  margin-top: 0.5em;
}

.login-form, .registration-form {
  width: 100%;
}

@media screen and (max-width: 920px) {
  .loginprompt__h1, .registerprompt__h1 {
    font-size: 1.5em;
  }
  .login-form, .registration-form {
    width: 100%;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  .login-form input, .registration-form input {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .loginprompt, .registerprompt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login-form, .registration-form {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer {
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1f1b24;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer__text {
  margin-inline: 0.5em;
  color: white;
  font-weight: bold;
}

.footer__image {
  height: 100%;
  margin-inline: 0.5em;
}

.footer__image img {
  height: 100%;
}

body {
  background-color: wheat;
}

section, main {
  margin-inline: auto;
  width: 100%;
  max-width: 70em;
}

section > a, main > a {
  text-decoration: none;
}

.profile-page {
  background-color: white;
  position: relative;
}

.profile-page h3 {
  font-size: 1.75em;
  padding-top: 1em;
  padding-left: 1em;
}

@media screen and (max-width: 1070px) {
  section, main {
    width: 98%;
  }
}

@media screen and (min-width: 1080px) {
  section, main {
    max-width: 60em;
  }
}
/*# sourceMappingURL=App.css.map */